# Ignore files -- AUTO
.DS_Store
.Thumb_db
*.txt

# Thumbnails
._*


*Icon*

# Ignore files -- WORKING
untitled folder/
_working/
_hold/
_archive/
_dbase/

# Ignore files -- CUSTOM
config_private.php
Icon
Icon?
updates.php
update_*


# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
