# Ignore files -- AUTO
.icon
.DS_Store
.Thumb_db
*.txt
icon
Icon$
Icon$'\r'
Icon^M^M
Icon
._*
*Icon*

.git/refs/*Icon*

# Ignore files -- WORKING
untitled folder/
_working/
_hold/
_archive/
_dbase/
*Icon*

# Ignore files -- CUSTOM
config_private.php
Icon
updates.php
update_*
*Icon*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*Icon*

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*Icon*
