# Ignore files -- AUTO
.icon
.DS_Store
.Thumb_db
*.txt
icon
Icon
Icon$
Icon$'\r'

# Ignore files -- WORKING
untitled folder/
_working/
_hold/
_archive/
_dbase/

# Ignore files -- CUSTOM
config_private.php
